Repository marcusgoll/cfipros-handbook: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, markdown-lint, type-check, format-check

lefthook.yml:

# Enhanced pre-commit hooks for CFI Interactive Handbook
# Performance-optimized with parallel processing and staged file filtering

# Validate commit messages
commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

# Validate content before committing - optimized for performance
pre-commit:
  parallel: true
  commands:
    # Priority 1: Fast linting with staged files only
    lint-staged:
      glob: '*.{js,jsx,ts,tsx,json,yaml,yml}'
      run: npx --no -- eslint --fix --no-warn-ignored {staged_files}
      stage_fixed: true
      priority: 1

    # Priority 1: Markdown linting (parallel with ESLint) - staged files only
    markdown-lint:
      glob: '*.{md,mdx}'
      run: 'if [ -n "{staged_files}" ]; then npx --no -- markdownlint-cli2 --fix {staged_files}; fi'
      stage_fixed: true
      priority: 1

    # Priority 2: TypeScript type checking (after linting fixes)
    type-check:
      glob: '*.{ts,tsx}'
      run: npm run check:types
      priority: 2

    # Priority 3: Format check (final validation)
    format-check:
      glob: '*.{js,jsx,ts,tsx,json,md,mdx,yaml,yml}'
      run: npx --no -- prettier --check {staged_files}
      priority: 3

# Pre-push validation for CI/CD pipeline
pre-push:
  parallel: true
  commands:
    # Full project validation before push
    build-check:
      run: npm run build
      priority: 1

    # Security audit
    security-audit:
      run: npm audit --audit-level=moderate
      priority: 2

feat: Implement interactive learning system with aviation glossary and progress tracking
  CLAUDE.md
  content-templates/README.md
  content-templates/folder-structure-generator.js
  content-templates/mdx-template-lesson.mdx
  content-templates/mdx-template-practical-test.mdx
  content-templates/mdx-template-section-index.mdx
  src/components/handbook/CourseProgress.tsx
  src/components/handbook/StudyDashboard.tsx
  src/components/learning/KnowledgeCheck.tsx
  src/components/learning/MasteryGoals.tsx
  src/components/mdx/AutoLink.tsx
  src/components/mdx/ContextualText.tsx
  src/components/mdx/InteractiveElements.tsx
  src/components/mdx/LessonLayout.tsx
  src/components/mdx/MDXComponents.tsx
  src/components/mdx/ProgressIndicator.tsx
  src/lib/aviation-glossary.ts
  src/lib/context-linking.ts
  src/lib/database/connection-pool.ts
  src/lib/progress-tracking.ts
  src/types/glossary.ts
  src/types/progress.ts
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-version
Due: lint-staged, markdown-lint, type-check, format-check

fix: Resolve build errors in context linking and KnowledgeCheck component
  src/components/learning/KnowledgeCheck.tsx
  src/lib/context-linking.ts
Due: lint-staged, type-check, format-check

fix: Resolve TypeScript errors in interactive learning components
  src/components/learning/KnowledgeCheck.tsx
  src/components/mdx/ContextualText.tsx
  src/components/mdx/InteractiveElements.tsx
Due: lint-staged, type-check, format-check

feat: implement comprehensive interactive learning system
  CLAUDE.md
  src/components/handbook/CourseProgress.tsx
  src/components/handbook/StudyDashboard.tsx
  src/components/learning/MasteryGoals.tsx
  src/components/mdx/AutoLink.tsx
  src/components/mdx/LessonLayout.tsx
  src/components/mdx/MDXComponents.tsx
  src/components/mdx/ProgressIndicator.tsx
  src/lib/aviation-glossary.ts
  src/lib/progress-tracking.ts
  src/types/glossary.ts
  src/types/progress.ts
Due: lint-staged, markdown-lint, type-check, format-check

fix: resolve markdown linting config and add null checks
  .markdownlint-cli2.yaml
  src/lib/context-linking.ts
Due: lint-staged, type-check, format-check

CRITICAL FIX: Railway deployment ready - MVP launch
  .claude/settings.local.json
  DEPLOYMENT_READY.md
  instrumentation-client.ts
  package-lock.json
  railway.toml
  src/app/api/health/ready/route.ts
  src/app/api/health/route.ts
  src/instrumentation-client.ts
  src/lib/database/connection-pool.ts
Due: lint-staged, markdown-lint, type-check, format-check

Update Claude settings after successful MVP deployment
  .claude/settings.local.json
Due: lint-staged, format-check
